.container {
    display: flex;
    justify-content: space-between;
    margin: 7px;
    background-color: rgba(0, 0, 0, 0.233);
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 15px;
}

.checkbox {
    margin-top: 37px;
    border: none;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 37px;
    height: 37px;
    position: absolute;
}

.task-list-element-title {
    margin-left: 70px;
    display: flex;
    justify-content: flex-start;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.task-list-element-description {
    margin-left: 70px;
    display: flex;
    justify-content: flex-start;
    color: white;
    font-family: 'Roboto', sans-serif;
}


.data-container {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.btn-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.task-list-btn-edit {
    width: 80px;
    height: 40px;
    margin: 5px;
    background-color: #008CBA;
    color: white;
    transition: 0.2s;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    border: none;
    border-radius: 5px;
}

.task-list-btn-edit:hover {
    background-color: rgba(2, 2, 83, 0.8);
    color: white;
    transition: 0.2s;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    border: none;
    border-radius: 5px;
}

.task-list-btn-delete {
    width: 80px;
    height: 40px;
    margin: 5px;
    background-color: #008CBA;
    color: white;
    transition: 0.2s;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    border: none;
    border-radius: 5px;
}

.task-list-btn-delete:hover {
    background-color: rgba(2, 2, 83, 0.8);
    color: white;
    transition: 0.2s;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    border: none;
    border-radius: 5px;
}